.main{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.fieldtwo{
    width: 73%;
    line-height: 30px;
    border: 0px;
    border-bottom: solid 1px; 
    border-bottom-color:white;
    background-color: #6C7A89;
    font-size: medium;
    outline: none;
    color: white
}
.fieldtwo.invalid{
    border-bottom-color:red;
}
.fieldtwo [type="text"] {
    margin: 5px 0 5px 0;
}
.phone {
    border: 0px;
    border-bottom: solid 1px;
    border-bottom-color:white;
    background-color: #6C7A89;
    font-size: medium;
    width: 25%;
    align-self: flex-end;
    flex-shrink: 1;
    outline: none;
    line-height: 30px;
    color: white;
}
.phone.invalid{
    border-bottom-color:red;
}

.fieldone {
    border: 0px;
    border-bottom: solid 1px;
    border-bottom-color:white;
    background-color: #6C7A89;
    font-size: medium;
    width: 24%;
    box-sizing: border-box;
    outline: none;
    line-height: 30px;
    color: white;
}
.fieldone.invalid{
    border-bottom-color:red;
}
.fieldthree{
    border: 0px;
    border-bottom: solid 1px;
    border-bottom-color:white;
    background-color: #6C7A89;
    font-size: medium;
    width: 100%;
    margin: 5px 0 10px 0;
    outline: none;
    line-height: 30px;
    color: white;
}
.fieldthree.invalid{
    border-bottom-color:red;
}
input[type=submit]{
    width: 20%;
    height: 45px;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
p{
    color: white;
}
hr{
    width: 100%;
    margin-bottom: 20px;
}
.fone{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
}
.small{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
input::placeholder{
    color: #ECF0F1;
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 35px;
}

/*Responsive design starts here with 5 breakpoints*/
@media screen and (max-width:760px) {
    .phone {
        font-size: 1rem;
        width: 100%;
    }
    .fullname, .email, .reemail, .readdress [type="text"] {
        width: 100%;
        font-size: 1rem;
    }
    .city, .state, .country, .zip {
        font-size: 1rem;
        width: 49%;
        margin: 0 1px 0 0;
    }
input[type=submit]{
    width: 50%;
    font-size: 1rem;
}
}
@media screen and (max-width:414px) {
    .phone {
        font-size: 1rem;
        width: 100%;
    }
    .fullname, .email, .reemail, .readdress [type="text"] {
        width: 100%;
        font-size: 1rem;
    }
    .city, .state, .country, .zip {
        font-size: 1rem;
        width: 100%;
        margin: 0px;
    }
    .habu{
        font-size: 1rem;
        width: 100%;
    }
    .address,
.readdress{
    font-size: 1rem;
    width: 100%;
}
input[type=submit]{
    width: 50%;
    font-size: 1rem;
}
}


