.side1{
    float: left;
    width:50%;
}
.side2{
    float: left;
    width:50%
}
.skills{
    width: 80%;
    margin: auto;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
}

input[type="radio"]{
    opacity: 0;
    position: absolute;
}
.rad{
   line-height: 46px;
    width: 22%;
    border: 1px solid white;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
    flex-grow: 1;
    cursor: pointer;
}
input[type="radio"]:checked + label{
    border: 1px solid #00b2f0;
    background: #00b2f0;
    display: inherit;
    
}
.discdiv{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#wisy, #doyo{
    font-size: medium;
    font-weight: normal;
    color: white; 
    margin-bottom: 30px;
}
.location,
.legal,
.ibm{
    font-size: 1rem;
    font-weight: normal;
    color: white;
     margin-bottom: 30px;
}
.disc, #icountry, input[type = 'checkbox']{
    background-color: #454E57;
    position: absolute;
    opacity: 0;
    margin: 10px
    
}
.ldisc, .lcountry{
    padding-left: 40px;
    color: white;
    display: block;
    position: relative;
    padding-bottom: 20px;
    margin: 10px;
    cursor: pointer;
    font-size:0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid white;
}
i{
    background-color: #454E57;
    position: relative;
    color: white;
    bottom: -4px;
    float: left;
    right: -174px;
    visibility: hidden;
}
.lcountry input:checked ~ .checkmark {
    background-color: #454E57;
}
.ldisc input:checked ~ .checkmark {
    background-color: #454E57;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    border: 1px solid white;
}
.ldisc input:checked ~ .checkmark:after {
    display: block;
}
.lcountry input:checked ~ .checkmark:after {
    display: block;
}

input[type = "checkbox"]:checked + .ldisc
.checkmark {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white ;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lcountry
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ldisc
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#add{
    border: 0px;
    border-bottom: solid 1px;
    border-bottom-color:white;
    background-color: #6C7A89;
    font-size: 1rem;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    width: 21%;
    height: 40px;
    outline: none;
    color: white;
}
#addbutt{
    width: 20%;
    margin-top: 10px;
    background-color: #454E57;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
}
input[type=submit]{
    width: 50%;
    font-size: 1rem;
}
input[type=submit]{
    width: 20%;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
.sidediv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Responsive design starts here with 5 breakpoints*/
@media screen and (max-width:760px) {
.rad{
    width: 100%;
}
#addbutt{
    width:50%;
}
#add{
    width:50%;
    margin-bottom: 10px;
}
input[type=submit]{
    width: 50%;
    font-size: 1rem;
}
}
@media screen and (max-width:414px) {
    .rad{
        width: 100%;
    }
    #addbutt{
        width:100%;
    }
    #add{
        width:100%;
        margin-bottom: 10px;
    }
    input[type=submit]{
        width: 100%;
        font-size: 1rem;
    }
    .sidediv{
        width: 100%;
        flex-direction: column;
    }
    .side1{
      width: 100%;
      margin-bottom: 10px;
      text-align: justify;
    }
    .side2{
      width: 100%;
      margin-bottom: 10px;
      text-align: justify;
    }
}