*{
  margin: 0;
}
html{
  font-size: small;
  margin: auto
}

body {
  margin: 0px;
  padding: 0px;
  font-family: roboto ;
  font-size: small;
  box-sizing: border-box;
  background-color: #6C7A89;
}
